snippet if
	if($1)
		$0
	endif()
snippet ifelse
	if($1)
		$2
	else()
		$0
	endif()
snippet foreach
	foreach($1)
		$0
	endforeach()
snippet while
	while($1)
		$0
	endwhile()
snippet macro
	macro($1)
		$0
	endmacro()
snippet function
	function($1)
		$0
	endfunction()
