snippet timeit measure execution time of a section of code
	auto start_time${1:_test} = std::chrono::high_resolution_clock::now();
	$0
	auto end_time${1:_test} = std::chrono::high_resolution_clock::now();
	auto elapsed_time${1:_test} = std::chrono::duration_cast<std::chrono::milliseconds>(end_time${1:_test} - start_time${1:_test});
	std::cout << elapsed_time${1:_test}.count() << std::endl;
