extends javascript
snippet cctsclass ultimate-crosscode-typedefs class
	interface ${1:MyClass} extends ${2:ig.Class} {
		$0
	}
	interface ${1:MyClass}Constructor extends ImpactClass<${1:MyClass}> {
		new (/* TODO */): ${1:MyClass};
	}
	var ${1:MyClass}: ${1:MyClass}Constructor;
