snippet autofunction autoloaded function
	function! `dotfiles#ft#vim#autoload_prefix()`$1($2) abort
		$0
	endfunction
snippet letdefault Assign a default value to a variable
	let g:`dotfiles#ft#vim#autoload_prefix()`$1 = get(g:, '`dotfiles#ft#vim#autoload_prefix()`$1', $2)
snippet autoid Get script's autoloaded identifier prefix
	`dotfiles#ft#vim#autoload_prefix()`
