extend = "./misc/ruff.toml"

# This option affects what syntax will be parsed or not by ruff. Some important
# syntactical additions from recent Python versions:
# * 3.5 - `async` and `await` keywords
# * 3.6 - f-strings and type annotations for variables
# * 3.8 - the walrus operator `:=`
# * 3.9 - parentheses around arguments of the `with` statement
# * 3.10 - `match` and `case` keywords
# * 3.12 - `type` keyword and generic type parameters on classes and functions
target-version = "py39"
